.block {
}

.block__title {
  @extend .bdb1;
  margin-bottom: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: px2rem(15);
  line-height: px2rem(24);
  color: $c-gray;
  text-transform: uppercase;
  letter-spacing: .1em;

  @include bp-lg--up {
    font-size: px2rem(18);
  }

  .title-en {
    font-family: $number-font;
    color: $c-pink;
  }

  .title-tw {
    &::before {
      content: '/';
      padding-left: px2rem(6);
      padding-right: px2rem(6);
    }
  }
}

.block__content {
  @include bp-lg--up {
    max-width: 90%;
  }

  &.block__content--large {
    @include bp-lg--up {
      font-size: 1.5rem;
    }
  }

  p {
    letter-spacing: .05em;
  }
}
