.slider {
  max-width: 95rem;

  * {
    outline: none;
  }
}

.slider-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: px2rem(18);
  z-index: 5;

  @include bp-md--up {top: 1.5rem; }
  @include bp-lg--up {top: 3rem; }

  .logo {
    max-width: 4rem;
    height: auto;
    pointer-events: none;

    @include bp-md--up {
      max-width: none;
    }

    @include bp-xl--up {
      width: 120px;
    }
  }
}

.share-btns {
  font-size: .5rem;
  line-height: 1;
  opacity: .5;
  transition: opacity 5s;

  &:hover {
    opacity: 1;
    transition-duration: .5s;
  }
}

.share-btn {
  display: inline-block;
  padding: .25rem;
  margin-right: px2rem(3);
  vertical-align: top;
  color: $c-gray;
  transition: color .3s, transform .3s;
  transform: scale(21/24);

  &:hover {
    color: $c-pink;
    transform: scale(1);
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentcolor;
  }
}

.slider-body {
  position: relative;
  height: 90vh;
  min-height: px2rem(440);
  max-height: 45rem;
  outline: none;

  opacity: 0;
  transition: opacity .3s;

  &.slick-initialized {
    opacity: 1;
  }

  @include bp-lg--up {
    min-height: px2rem(640);
  }
}

.slider-content {
  @include fill-full;
  background-position: 50%;
  background-size: cover;
  outline: none;

  &::before {
    content: '';
    @include fill-full;
    background-image: linear-gradient(to bottom, transparent, rgba($main-bgc, .1), $main-bgc);

    @include bp-md--up {
      background: rgba($main-bgc, .25);
    }
  }
}

.program-info {
  position: absolute;
  bottom: 2.5%;
  right: 0;
  line-height: px2rem(36);
  font-weight: 900;

  @include bp-md--up {
    bottom: 5%;
    line-height: px2rem(36);
  }
}

.program__guest {
  font-size: px2rem(18);
  letter-spacing: .1em;

  @include bp-md--up {
    font-size: px2rem(21);
  }
}
.program__title {
  font-size: px2rem(28);

  @include bp-md--up {
    font-size: px2rem(48);
    line-height: px2rem(60);
  }

  @include bp-xl--up {
    font-size: px2rem(56);
    line-height: px2rem(66);
  }
}

.program__time {
  display: block;
  font-family: $number-font;

  @include bp-md--up {
    font-size: px2rem(18);
  }
}

.program__link {
  display: inline-block;
  margin-top: px2rem(6);
  font-size: px2rem(14);
  font-weight: 100;
  color: inherit;
  background-color: $c-pink;

  @include bp-md--up {
    margin-top: px2rem(12);
    font-size: px2rem(18);
    line-height: px2rem(42);
  }
}

.program__number {
  font: 900 px2rem(72) / 1 $number-font;
  letter-spacing: -3px;

  &::first-letter {
    color: $c-white-o5;
  }

  .program__link + & {
    margin-top: px2rem(-44);

    @include bp-md--up {
      margin-top: px2rem(-64);
    }
  }

  @include bp-md--up {
    font-size: px2rem(96);
  }

  @include bp-xl--up {
    font-size: px2rem(128);
  }
}

@import "../../node_modules/slick-carousel/slick/slick.scss";

.slick-track,
.slick-list {
  height: 100%;
}
