.slider {
  max-width: 95rem;
}

.slider-head {
  position: relative;
  top: px2rem(18);
  z-index: 5;
  font-size: 1.5rem;

  @include bp-pad--up {
    top: 1em;
  }

  @include bp-desktop--up {
    font-size: 3rem;
    padding-right: 1em;
    padding-left: 1em;
  }

  .logo {
    max-width: 4rem;
    height: auto;
    pointer-events: none;
  }
}

.slider-body {
  position: relative;
  height: 90vh;
  min-height: 27.5rem;
  max-height: 45rem;
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50%;
  background-size: cover;
}

.share-btns {
  opacity: .5;
  transition: opacity 5s;

  &:hover {
    opacity: 1;
    transition-duration: .5s;
  }
}

.share-btn {
  display: inline-block;
  padding: .25rem;
  margin-right: px2rem(3);
  vertical-align: top;
  color: $c-gray;
  transition: color .3s, transform .3s;
  transform: scale(21/24);

  &:hover {
    color: $c-pink;
    transform: scale(1);
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentcolor;
  }
}

.slider-foot {
  position: relative;
  max-width: 70rem;
  text-align: center;
}

.slider-thumbs {
  margin: px2rem(6) px2rem(70);
  overflow: hidden;
  white-space: nowrap;
}

.slider-thumb {
  display: inline-block;
  width: calc(100% / 3);
  padding: px2rem(6);
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  font-size: px2rem(36);
  line-height: 4rem;
  color: $c-pink;
  opacity: .25;
  transition: opacity .3s;
  background-clip: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  counter-increment: program;

  @include bp-pad--up {
    width: calc(100% / 5);
  }

  @include bp-desktop--up {
    font-size: px2rem(64);
    line-height: 6rem;
  }

  &.is-active,
  &:hover {
    opacity: 1;
  }

  &::before {
    content: counter(program, decimal-leading-zero);
    pointer-events: none;
  }

  &::first-letter {
    color: $c-white-o5;
  }
}

.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  padding: 0;
  border: none;
  background: transparent;
  opacity: .7;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  &.slider-prev {
    left: 0;
  }

  &.slider-next {
    right: 0;
  }
}

.slick-arrow {
  width: 14px;
  height: 25px;
  fill: currentcolor;

  .slider-next & {
    transform: rotate(.5turn);
  }
}

