.slider {
  max-width: 95rem;

  .container {
    position: relative;
    height: 100%;
  }

  * {
    outline: none;
  }
}

.slider-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: px2rem(18);
  z-index: 5;
  font-size: 1.5rem;

  @include bp-md--up {
    top: 1em;
  }

  @include bp-lg--up {
    font-size: 3rem;
    padding-right: 1em;
    padding-left: 1em;
  }

  .logo {
    max-width: 4rem;
    height: auto;
    pointer-events: none;

    @include bp-md--up {
      max-width: none;
    }
  }
}

.share-btns {
  font-size: .5rem;
  line-height: 1;
  opacity: .5;
  transition: opacity 5s;

  &:hover {
    opacity: 1;
    transition-duration: .5s;
  }
}

.share-btn {
  display: inline-block;
  padding: .25rem;
  margin-right: px2rem(3);
  vertical-align: top;
  color: $c-gray;
  transition: color .3s, transform .3s;
  transform: scale(21/24);

  &:hover {
    color: $c-pink;
    transform: scale(1);
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentcolor;
  }
}

.slider-body {
  position: relative;
  height: 90vh;
  min-height: px2rem(440);
  max-height: 45rem;
  outline: none;

  opacity: 0;
  transition: opacity .3s;

  &.slick-initialized {
    opacity: 1;
  }

  @include bp-lg--up {
    min-height: px2rem(640);
  }
}

.slider-content {
  @include fill-full;
  background-position: 50%;
  background-size: cover;
  outline: none;

  &::before {
    content: '';
    @include fill-full;
    background-image: linear-gradient(to bottom, transparent, rgba($main-bgc, .1), $main-bgc);

    @include bp-md--up {
      background: rgba($main-bgc, .25);
    }
  }
}

.program-info {
  position: absolute;
  bottom: px2rem(18);
  right: px2rem(12);
  line-height: px2rem(36);
  font-weight: 900;

  @include bp-md--up {
    bottom: px2rem(36);
    right: px2rem(24);
    line-height: px2rem(36);
  }
}

.program__guest {
  font-size: px2rem(18);
  letter-spacing: .1em;

  @include bp-md--up {
    font-size: px2rem(21);
  }
}
.program__title {
  font-size: px2rem(28);

  @include bp-md--up {
    font-size: px2rem(48);
    line-height: px2rem(60);
  }
}

.program__time {
  display: block;
}

.program__link {
  display: inline-block;
  margin-top: px2rem(6);
  font-size: px2rem(14);
  font-weight: 100;
  color: inherit;
  background-color: $c-pink;

  @include bp-md--up {
    margin-top: px2rem(12);
    font-size: px2rem(18);
    line-height: px2rem(42);
  }
}

.program__number {
  font: 900 px2rem(72) / 1 $number-font;

  &::first-letter {
    color: $c-white-o5;
  }

  .program__link + & {
    margin-top: px2rem(-44);

    @include bp-md--up {
      margin-top: px2rem(-64);
    }
  }

  @include bp-md--up {
    font-size: px2rem(96);
  }
}

.slider-foot {
  position: relative;
  max-width: 70rem;
  text-align: center;
}

.slider-thumbs {
  overflow: hidden;
  white-space: nowrap;
  transition: opacity .3s;
  opacity: 0;

  &.slick-initialized {
    opacity: 1;
  }

  .slick-list {
    margin: px2rem(6) px2rem(70);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 8%;
      background-color: #f00;
      background: linear-gradient( 90deg, $main-bgc, transparent) no-repeat;
      pointer-events: none;
    }

    &::before {left: 0; }
    &::after {right: 0; transform: rotateZ(.5turn);}
  }
}

.slider-thumb {
  display: inline-block;
  width: calc(100% / 3);
  padding: px2rem(6);
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  font-size: px2rem(36);
  line-height: 4rem;
  color: $c-pink;
  opacity: .25;
  transition: opacity .3s;
  background-clip: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  @include bp-md--up {
    width: calc(100% / 5);
  }

  @include bp-lg--up {
    font-size: px2rem(64);
    line-height: 6rem;
  }

  &.slick-current,
  &:hover {
    opacity: 1;
  }

  &::before {
    content: attr(data-order);
    pointer-events: none;
  }

  &::first-letter {
    color: $c-white-o5;
  }
}

.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  padding: 0;
  border: none;
  background: transparent;
  opacity: .7;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  &.slider-prev {
    left: 0;
    cursor: w-resize;
  }

  &.slider-next {
    right: 0;
    cursor: e-resize;
  }
}

.slick-arrow-icon {
  width: 14px;
  height: 25px;
  fill: currentcolor;

  .slider-next & {
    transform: rotate(.5turn);
  }
}

@import "../../node_modules/slick-carousel/slick/slick.scss";

.slick-track,
.slick-list {
  height: 100%;
}
