$_nav-height: 4.5rem;
$_arrow-size: .75rem;

.talk-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 5;
  height: $_nav-height;
  overflow: hidden;
  margin-top: $_nav-height * -.5;
  visibility: hidden;
  font: 900 1.5rem / #{$_nav-height} $number-font;
}

.talk-nav__link {
  position: absolute;
  top: 0;
  width: 60px;
  height: $_nav-height;
  visibility: visible;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: $_arrow-size * -1;
    border: $_arrow-size solid transparent;
    display: inline-block;
    z-index: 1;
    opacity: .5;
    transition: opacity .3s;
  }

  &:hover::after {
    opacity: .75;
  }
}

.talk-nav__link--next {
  right: 0;

  &::after {
    right: $_arrow-size;
    border-left-color: inherit;
  }
}

.talk-nav__link--prev {
  left: 0;

  &::after {
    left: $_arrow-size;
    border-right-color: inherit;
  }
}

.talk-nav__info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: px2rem(248);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $c-black-l3;
  transition: transform .5s .3s, opacity .5s .1s;
  opacity: .1;
  display: none;

  @include bp-lg--up {
    display: block;
  }

  .talk-nav__link--prev & {
    left: 0;
    padding-right: $_nav-height + 1rem;
    text-align: right;
    background-position: 100% 50%;
    transform: translateX(-100%);
  }

  .talk-nav__link--next & {
    right: 0;
    padding-left: $_nav-height + 1rem;
    background-position: 0% 50%;
    transform: translateX(100%);
  }

  .talk-nav__link:hover & {
    transform: translateX(0);
    opacity: 1;
    transition: transform .5s, opacity .5s;
  }

  &::after {
    content: attr(data-topic);
  }

  &::before {
    content: attr(data-order);
    padding-right: .25em;
    font-size: px2rem(28);
    color: $c-pink;
  }

  &::first-letter {
    color: $c-white-o5;
    font-size: px2rem(28);
  }

}
