.footer {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: $c-black-l2;

  a {
    color: rgba($main-color, .5);
    transition: color .2s;

    &:hover {
      color: inherit;
    }
  }
}

.team {
  @include bp-md--up {
    margin-bottom: 1.5rem;
  }
}

.team__title {
  display: inline-block;
  padding-bottom: px2rem(3);
  border-bottom: 2px solid rgba($main-color, .2);
}

.team__members {
  @include bp-md--up {
    margin-bottom: 1.5rem;
  }
}

.team__member {
  margin-bottom: px2rem(12);
  font-size: px2rem(18);
  letter-spacing: 2px;

  @include bp-md--up {
    display: inline-block;
  }

  & + .team__member::before {
    content: '×';
    display: block;
    margin-bottom: px2rem(12);
    padding-left: px2rem(6);
    padding-right: px2rem(6);

    @include bp-md--up {
      display: inline;
    }
  }
}

.team__logo {
  font-size: 1.5rem;

  @include bp-md--up {
    display: inline-block;
    margin-left: px2rem(12);
    margin-right: px2rem(12);
    font-size: 1rem;
  }

  svg {
    width: 4em;
    height: 4em;
  }
}

.footer-links {
  @include bp-md--up {
    margin-bottom: 1.5rem;
  }
}

.footer-link {
  margin-bottom: .75rem;
  margin-left: .75rem;
  margin-right: .75rem;

  @include bp-md--up {
    display: inline-block;
  }

  a {
    font-size: px2rem(15);
  }
}
.copyright {
  font-size: .8rem;
}
