@mixin bp-pad--down {
  @media (max-width: #{$w-pad}) {
    @content;
  }
}

@mixin bp-pad--up {
  @media (min-width: #{$w-pad + 1px}) {
    @content;
  }
}

@mixin bp-desktop--up {
  @media (min-width: #{$w-desktop + 1px}) {
    @content;
  }
}

@mixin bp-md--up {
  @media (min-width: #{map-get($grid-breakpoints, md) + 1px}) {
    @content;
  }
}

@mixin bp-lg--up {
  @media (min-width: #{map-get($grid-breakpoints, lg) + 1px}) {
    @content;
  }
}

@mixin bp-xl--up {
  @media (min-width: #{$w-xl + 1px}) {
    @content;
  }
}

@mixin fill-full() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
