// .container.introduce
.introduce {
  width: 80%;
  max-width: px2rem(768);

  @include bp-md--up {
    padding-top: 3rem;
    padding-bottom: 3rem;
  };

  @include bp-lg--up {
    max-width: px2rem(1080);
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  };

  .block__content {
    max-width: none;
    p {
      margin-bottom: 1em;
    }
  }
}
