.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

//
// Responsive utilities
//
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}

.float-left { float: left;}
.float-right { float: right;}

.clear {
  @include clearfix;
}

.full-fill {
  @include fill-full;
}

.bdb1 {
  border-bottom: 1px solid $c-pink;
}

.ib {
  display: inline-block;
}

.space::after {
  content: ' ';
}

.posr {
  position: relative;
}

@import "u-spacing";
@import "u-typo";
