// fonts
$number-font: "Gotham SSm A", "Gotham SSm B", "source-han-sans-traditional", sans-serif;

// colors:
$c-white: #fff;
$c-black: #000;
$c-pink: #e63082;
$c-gray: #aaa;
$c-white-o5: rgba($c-white, .5);

$main-bgc: lighten($c-black, 5.5%);
$main-color: $c-white;

// width
$w-pad: 768px;
$w-desktop: 1024px;

$grid-breakpoints: (
  xs: 0,      // Extra small screen / phone
  sm: 544px,  // Small screen / phone
  md: 768px,  // Medium screen / tablet
  lg: 992px,  // Large screen / desktop
  xl: 1200px  // Extra large screen / wide desktop
) !default;
