footer.footer.text-center
  .team.mb6
    h3.team__title.text-white-o5.mb6 政問團隊
    ul.team__members.list-reset.mb6
      each menber in appInfo.teamMember
        li.team__member=menber
    ul.team__logos.list-reset
      each logo, index in appInfo.teamLogo
        li.team__logo.mb3
          a(href=logo.url, title=logo.title)
            +team-icon(logo.name)
        if index === 5
          li

  ul.footer-links.list-reset.mb6
    li.footer-link
      a(href="https://www.facebook.com/talkto.tw/", target="_blank") 前往 Facebook 粉絲團
    li.footer-link
      a(href="mailto:info@talkto.tw") 寫 Email 給我們

  .copyright
    a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW")
      | © 2015 政問節目內容以 CC 姓名標示-非商業性-相同方式分享 4.0 國際授權釋出
