<!DOCTYPE html>

include ./_mixin.jade

html(lang="zh-Hant-TW")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/styles/style.css")
  block title
    title DEMO
body
  .workspace
    block content

  include ./_footer.jade
