.slogan-header.pt4.pb3.lg-pt6.lg-pb4.mb4.bdb1
  a(href="/").ib
    img.logo.logo--talk(src="/images/logo/header-logo-left.svg", alt="政問 logo", width="64", height="38")
  span.space
  img.ib.logo.logo-text--talk(src="/images/logo/header-logo-right.svg", alt="talk to Taiwan", width="122", height="8")
